*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #333;
}

h1{
    color: #fff;
}
.main-page{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}
a{
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding: 16px 24px;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #2196F3;
    color: #fff;
    transform: scale(1);
    transition: all 1s;
    animation: pulse 1.5s ease-in-out infinite;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(33, 150, 243, 0.4);
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33,150,243,0.6);
  }
  70% {
    box-shadow: 0 0 0 14px rgba(33,150,243,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33,150,243,0);
  }
}
main{
    display: flex;
    justify-content: center;
}
.cal-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cal-main-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cal-main>h1{
    color: #fff;
}

.cal-main-2>.Input-Box{
    height: 50vh;
}

.Input-Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60vh;
    gap: 30px;
    padding: 20px;
    background: #454444;
    box-shadow: 1px 10px 10px #242323;
}
.Input-Box>div{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Input-Box>div>label{
    background: transparent;
    font-size: medium;
    color: #fff;
}

.Input-Box>div>input{
    padding: 16px 24px;
    background: #fff;
    font-size: medium;
    border: none;
    border-radius: 20px;
    outline: none;
}
.SIC{
    width: 200px;
}
h3{
    color: #fff;
}
.error{
    color: red;
}

.TA{
    display: none;
    margin-top: 30px;
}
.btn-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

/*CC*/

.main-cc{
    width: 100%;
    height: 100vh;
    background: #333;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 50px;
}
.Input-Box-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 60vh;
    gap: 30px;
    padding: 20px;
    background: #454444;
    box-shadow: 1px 10px 10px #242323;
}
.IB-1 , .IB-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;

}
label{
    color: #fff;
}

.check-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.check-div>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

input{
    padding: 14px 20px;
    background: #fff;
    font-size: medium;
    border: none;
    border-radius: 15px;
    outline: none;
}
.IB-3>label{
    font-size: large;
    margin-right: 10px;

}
select{
    background: #333;
    padding: 16px;
    font-size: medium;
    color: #fff;
    border-radius: 10px;
}


.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}